doctype html
<!--head
  link(rel='stylesheet' href='style.css')
  // <script src="script.js"></script>
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  link(rel='stylesheet' type='text/css' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  // CSS only
nav
  .logo
    p Title
  ul
    li
      a.active(href='') Home
    li
      a(href='#about') About
    li
      a(href='#services') services
    li
      a(href='#pdt-link') Products
    li
      a(href='#contact') contact
#about.about
  .box-about
    .image
      img(src='images/draw_svg20211222-743-1u1xoh3.svg.png')
    .content
      h3
        span About
        |  Us
      p jsbqhsd hcebhdbhsdbjbsdjsd
#services.services
  .header
    h1(style='color: #b9b29f;') Services
  .box_services
    .row-services
      .box_col.box_col_1
        .box_img
          i.fa.fa-truck(aria-hidden='true')
        .box_title
          p(style='color : #d3ad7f;') Fastest Delivery
        .text
          | hbzhvbdhezbfhrebfreh
      .box_col.box_col_2
        .box_img
          i.fa.fa-usd(aria-hidden='true')
        .box_title
          p(style='color : #d3ad7f;') Best Price
        .text
          | All our creations are tailor-made and respecting the quality standards and
          | requirements of our customers.
          | We cover all furniture needs and meet the most demanding customers.
      .box_col.box_col_3
        .box_img
          i.fa.fa-question-circle(aria-hidden='true')
        .box_title
          p(style='color : #d3ad7f;') After sales service
        .text
          | Benefit from a fast and efficient after-sales service,
          | our objective is to satisfy the maximum number of customers.
br
br
form(name='f' action='index.html')
  #contact.contact
    h2(style='color : #186a72') Contact us
  .row
    .item
      // <label for="nom">Name</label>
      input#nom(type='text' size='20' placeholder='Name')
    .item
      // <label for="mail">Email</label>
      input#mail(type='email' size='25' placeholder='Example@gmail.com')
    .item
      // <label for="phone">Phone</label>
      input#phone(type='text' size='20' placeholder='Phone Number')
    .textarea
      // <label for="msg">Message</label>
      textarea#msg
    button(type='submit' value='SEND Message' style='color : #186a72;' onclick='verif()')
      b Send
    br
    br
    button(type='reset' value='reset' style='color : #186a72;')
      b Reset
footer
  .reseaux
    a.fab.fa-facebook-f(href='')
    a.fab.fa-twitter(href='')
    a.fab.fa-instagram(href='')
    a.fab.fa-linkedin(href='')
  .links
    a(href='#') Home
    a(href='#about') About
    a(href='#services') Services
    a(href='#pdt1') Products
    a(href='#contact') Contact
  .horaire
    h3 TimeSheet
    .horaire-liste
      p
        | &#x2714;&#xFE0F; Mon 10-19
        | &#x2714;&#xFE0F; Tue 10-19
        | &#x2714;&#xFE0F; Wen 10-19
        | &#x2714;&#xFE0F; Thu 10-19
        | &#x2714;&#xFE0F; Fri 10-19
        | &#x274C; Sat closed
        | &#x274C; Sun closed
  p Contact : +216 24552487
  br
  p Farahbenothman2@gmail.com -->
